*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.main{
    width: 60%;
}
body::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /* z-index: 2; */
    height: 100%;
    opacity: 0.7;
    background: url('https://img.freepik.com/premium-vector/e-commerce-icon-robotic-hand-internet-shopping-online-purchase-add-cart_127544-586.jpg?w=2000');
}
